<!DOCTYPE html>
<html>
<head>
    <title>Carrito de Usuario</title>
</head>
<body>
    <h1>Carrito de {{user.first_name}} {{user.last_name}}</h1>

    {{#each userCarts}}
    <div class="cart">
        <h2>Carrito ID: {{this._id}}</h2>
        <ul>
            {{#each this.products}}
            <li>
                <h3>Producto: {{this.product.title}}</h3>
                <p>Descripción: {{this.product.description}}</p>
                <p>Precio Unitario: ${{this.product.price}}</p>
                <p>Cantidad: {{this.quantity}}</p>
                <p>Precio Total: ${{this.totalPrice}}</p>
            </li>
            {{/each}}
        </ul>
        <p>Total del Carrito: ${{this.totalPrice}}</p> 
        <button class="buy-button" data-cartid="{{this._id}}">Comprar Carrito</button>
    </div>
    {{/each}}

    <a href="/products">Volver a la página principal</a>

    <script>
        
        const buyButtons = document.querySelectorAll('.buy-button');


        buyButtons.forEach(button => {
            button.addEventListener('click', function() {

                const cartId = this.getAttribute('data-cartid');

                fetch(`/api/carts/${cartId}/purchase`, {
                    method: 'POST',
                    headers: {
                        'Authorization': `Bearer ${localStorage.getItem('token')}`,
                        'Content-Type': 'application/json'
                    },
                })
                .then(response => response.json()) 
                .then(data => {

                    if (data.message === 'Purchase completed successfully') {
                        alert('Compra realizada con éxito');

                        window.location.href = '/products'; 
                    } else {
                        alert('Error al realizar la compra');
                    }
                })
                .catch(error => {
                    console.error('Error al comprar el carrito:', error);
                    alert('Error al realizar la compra');
                });
            });
        });
    </script>
</body>
</html>










