<div>
    <p>Bienvenidos</p>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
</div>

<div>
    {{#each products}}
    <p>{{this.title}}</p>
    <p>{{this.description}}</p>
    <p>{{this.code}}</p>
    <p>{{this.price}}</p>
    <p>{{this.status}}</p>
    <p>{{this.stock}}</p>
    <p>{{this.category}}</p>
    <p>{{this.thumbnails}}</p>

   <a><button onclick="addToCart('{{this.id}}')">Agregar al carrito</button></a>

    {{/each}}


    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}&limit=5"><button>Anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}&limit=5"><button>Siguiente</button></a>
    {{/if}}
        <a href="/api/sessions/logout"><button>Salir</button></a>

</div>

<script>
    function addToCart(productId) {
        // Envía la solicitud POST para crear un carrito
        fetch('/api/carts/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({}),
        })
        .then(response => response.json())
        .then(cart => {
            // Envía la solicitud POST para agregar el producto al carrito
            fetch('/api/carts/cid/product/pid'.replace('cid', cart._id).replace('pid', productId), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(updatedCart => {
                // Maneja la respuesta y realiza las acciones necesarias
                console.log(updatedCart);
                // Puedes redirigir al usuario a la página del carrito o mostrar un mensaje de éxito aquí
            })
            .catch(error => {
                // Maneja cualquier error en la solicitud
                console.error(error);
            });
        })
        .catch(error => {
            // Maneja cualquier error en la solicitud
            console.error(error);
        });
    }
</script>
