<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <div>
        <p>Bienvenidos</p>
        <h1>Tu perfil</h1>
        <p id="userName"></p>
        <p id="userEmail"></p>
        <p id="userAge"></p>
    </div>

    <div>
        {{#each products}}
        <p>{{this.title}}</p>
        <p>{{this.description}}</p>
        <p>{{this.code}}</p>
        <p>{{this.price}}</p>
        <p>{{this.status}}</p>
        <p>{{this.stock}}</p>
        <p>{{this.category}}</p>
        <p>{{this.thumbnails}}</p>

        <a><button onclick="addToCart('{{this.id}}')">Agregar al carrito</button></a>

        {{/each}}

    <a href="/cart">
            <button style="background-color: #ffffff; padding: 10px; border: 1px solid #cccccc; border-radius: 50%;">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                <path d="M17 17h-11v-14h-2"></path>
                <path d="M6 5l14 1l-1 7h-13"></path>
                </svg>
            </button>
        </a>

    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}&limit=5"><button>Anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}&limit=5"><button>Siguiente</button></a>
    {{/if}}
        <a id="logoutButton" href="#">Salir</a>

</div>
    <script>
        
        const getUser = async () => {
            const data = await fetch("/api/sessions/current");
            const user = await data.json();
            return user;
        };
        
        let currentCartId = null;
        function addToCart(productId) {

            if (!currentCartId) {
                fetch('/api/carts/', {
                    method: 'POST',
                    headers: {
                        Authorization: `Bearer ${localStorage.getItem("token")}`
                    },
                    body: JSON.stringify({}),
                })
                .then(response => response.json())
                .then(cart => {
                    currentCartId = cart._id;
                    addProductToCart(productId);
                })
                .catch(error => {
                    console.error(error);
                });
            } else {
                addProductToCart(productId);
            }
        }
        function addProductToCart(productId) {
            fetch(`/api/carts/${currentCartId}/product/${productId}`, {
                method: 'POST',
                headers: {
                    Authorization: `Bearer ${localStorage.getItem("token")}`
                },
            })
            .then(response => response.json())
            .then(updatedCart => {
                console.log(updatedCart);
            })
            .catch(error => {
                console.error(error);
            });
        }

        async function updateUserData() {
            const user = await getUser();
            document.getElementById('userName').innerText = user.name;
            document.getElementById('userEmail').innerText = user.email;
            document.getElementById('userAge').innerText = user.age;
        }

        window.addEventListener('load', updateUserData);

        const logoutButton = document.getElementById('logoutButton');

logoutButton.addEventListener('click', async () => {
  try {
    const response = await fetch('/api/sessions/logout', {
      method: 'GET', 
    });

    if (response.ok) {
      localStorage.removeItem('token');
      

      window.location.href = '/login';
    } else {
      console.error('Error al cerrar la sesión:', response.statusText);
    }
  } catch (error) {
    console.error('Error al cerrar la sesión:', error);
  }
});

    </script>
</body>
</html>